<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Contact Detail</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="css/style.css" rel="stylesheet">

</head>
<body>
<h2 class="title">Contact Detail</h2>

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <h5 class="card-title">Email</h5>
                <p class="card-text" id="email"></p>
            </div>
            <div class="col-sm-6">
                <h5 class="card-title">Full Name</h5>
                <p class="card-text" id="full_name"></p>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-6">
                <h5 class="card-title">Type</h5>
                <p class="card-text" id="type"></p>
            </div>
            <div class="col-sm-6">
                <h5 class="card-title">Phone Number</h5>
                <p class="card-text" id="phone_number"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h5 class="card-title">Address</h5>
                <p class="card-text" id="address"></p>
            </div>
        </div>

    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="js/detail.js"></script>

</body>
</html>